@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    /* outline: 1px solid black; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;;
    min-height: 100vh;
}
.testimony-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 4rem;
}
.column-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column-one img {
    width: 30%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-bottom: 2rem;
}

.column-one q {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 600;
}

.column-one h3 {
    margin-top: 1.3rem;
    font-size: 2.3rem;
}

.column-one p {
    line-height: 1.8rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.column-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column-two img {
    width: 30%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-bottom: 30px;
}

.column-two q {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 600;
}

.column-two h3 {
    margin-top: 1.3rem;
    font-size: 2.3rem;
    font-weight: bolder;
}

.column-two p {
    line-height: 1.8rem;
    font-size: 1.5rem;
    font-weight: 800;
}